/* .flexToken-container {
	display: flex;

	width: 10%;
}
.flexToken-container p {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0px 10px;
}
.flexToken-content {
	width: 80px;
	flex-wrap: wrap;
} */
