@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	background: #16222a; /* fallback for old browsers */
	background-image: linear-gradient(
			to right,
			rgba(62, 107, 129, 0.3),
			rgba(22, 34, 42, 0.7)
		),
		url("./design/bitcoin-gd3fe8f23e_1280.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-image: -webkit-linear-gradient(
			to right,
			rgba(62, 107, 129, 0.3),
			rgba(22, 34, 42, 0.7)
		),
		url("./design/bitcoin-gd3fe8f23e_1280.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-position: center;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
}
ul,
ol {
	list-style-type: none;
}
button {
	cursor: pointer;
}
/* select, */
input,
button,
input:hover,
button:hover,
button:active,
input:focus,
input:active,
select:hover,
select:active,
select:focus {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}
img {
	max-width: 100%;
	object-fit: cover;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}
